*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    padding: 10px;
}

div{
    border: 2px solid black;
}

.newshome{
    height: 136px;
    text-align: center;
    background-image: url("https://lh3.googleusercontent.com/proxy/Tq_PonCqO29EdIMiu2OT9D7czfQKCJWLPh0WRltHRYYuGTeu4BHm-1VT1PMPNnG2BBH0Y5g8PiwqqLrYjUWrzrl90vmt6Xh6vNJPnG7bH-zk2nBkBKPwQ_nRz9K8S4C5p9AS_sNmklB0QTXyak1_BnuJ4QA-ZfKto3vz1DAaZA");
    background-repeat: no-repeat;
    background-size: cover;
}

.newshome .homenews{
    display: flex;
    justify-content: center;
}

.newshome .homenews p{
    padding: 10px;
    font-weight: bold;
}
.newshome .homenews p:first-child{
    border-right: 2px solid black;
}

.newspicloprem{
    display: flex;
    margin-top: 40px;
}

.newspicloprem .picture{
    width: 350px;
    height: 318px;
    margin-right: 40px;
    padding-top: 30px;
    overflow: hidden;
}

.newspicloprem .picture img{
    width: 100%;
}

.newspicloprem .lopremtext{
    width: 100%;
}

.newspicloprem .lopremtext h1{
    text-decoration: underline;
    margin-bottom: 10px;
}

.newspicloprem .lopremtext p{
    text-align: left;
}

@media (max-width: 600px){
    .newspicloprem {
        flex-wrap: wrap;
    }
    .newspicloprem .lopremtext{
        margin-top: 20px;
    }
    .newspicloprem .picture{
        margin: auto;
    }
}